html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 400px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2.75em;
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 4.75em;
    }
}

.card {
    width: 10em;
    height: 10em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-perspective: 2500;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.card:hover {
    transform: translate(0, -50%);
}

.card:hover .card-face-front {
    transform: rotateY(-165deg);
}

.card:hover .card-face-back {
    transform: rotateY(-15deg);
}

.card-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    transition: transform 0.5s ease-out;
    transform-origin: 0 0;
}

.card-face-front {
    display: block;
    transform: rotateY(-40deg);
    z-index: 2;
}

.card-face-back {
    background: #9dcc78;
    transform: rotateY(0deg);
    z-index: 1;
}

.card-face-back-message {
    padding: .5em;
    font-size: .7em;
    font-family: Bariol, sans-serif;
    color: white;
    text-align: center;
    line-height: 1.5em;
}

.card-face-back-signature {
    font-family: cedarville-cursive, cursive;
}
